body {
  width: 90%;
}

.subject {
  display: inline-block;
  max-width: 80%;
  border: 1px solid rgb(90, 204, 88);
  border-radius: 5px;
  margin: 10px;
  padding: 0px 15px;
  vertical-align: top;
}

nav {
  background: url(congruent_pentagon/congruent_pentagon.png);
  width: 100%;
  height: 75px;
}

#mainlinks a {
  display: inline-block;
  min-width: 25%;
  /*vertical-align: middle;*/
  text-align: center;
  color: white;
  background-color: #38b036;
  text-decoration: none;
}

#mainlinks a:visited {
  color: yellow;
}